$color__primary: #b3bdc7;
$color__secondary: #f5f8fd;
$color__tertiary: #2c2c2e;

$color_fresh-white: #f5fdff;

$font__main: sans-serif;
$font__code: 'Open Sans', sans-serif;
$font__line-height-body: 1.5;
$font__body__size: 14px;



$page-width: 1170px;